<div>
    <div class="title">
        <span><%= @hall_name%></span>   
        <span><%= @machine_name%></span>
        <span><%= @update_time%></span>
    </div>
<table class="table">
<thead>
<tr>
<th>
台番
</th>
<th>
差玉
</th>
<th>
BB
</th>
<th>
RB
</th>
<th>
総回転
</th>
<th>
1k
</th>


</tr>
</thead>
<tbody>
<% @jag.each do |key,value| %>
<tr>

<td>
<%=key%>
</td>
<td>
<%=value[0]%>
</td>
<td>
<%=value[1]%>
</td>
<td>
<%=value[2]%>
</td>
<td>
<%=value[3]%>
</td>
<td>
<%=value[4]%>
</td>

</tr>
<% end %>
</tbody>
<tfoot>
<tr>
<td>
TOTAL
</td>
<td>
<%=@total[0]%>
</td>
<td>
<%=@total[1]%>
</td>
<td>
<%=@total[2]%>
</td>
<td>
<%=@total[3]%>
</td>
<td>
</td>
</tr>
<tr>
<td>
AVE
</td>
<td>
</td>
<td>
<%=@ave[0]%>
</td>
<td>
<%=@ave[1]%>
</td>
<td>
</td>
<td>
<%=@ave[2]%>
</td>
</tr>
</tfoot>
</table>
</div>